/*
FFC733 - BRIGHT YELLOW - NAV BAR
D4A71B - DARK YELLOW - TITLE BACKGROUND
DACDA9 - NEUTRAL BEIGE - HEADER BACKGROUND
ECE6D3 - LIGHT YELLOW
FDFFFC - WHITISH YELLOW
071400 - DARK JUNGLE GREEN - SEARCH FIELD BACKGROUND

Materialize CSS v 1.0.0
*/

:root {
  --primary: #ffc733;
  --secondary: #d4a71b;
  --content-background: #ece6d3;
  --content-containers: #dacda9;
  --body-background: #fdfffc;
}

body {
  background-color: var(--body-background);
}

#nav-wrapper,
#logoImg {
  height: 64px;
  padding-left: 1%;
  padding-right: 0.5%;
}

/* shows border of the container elements for each sides content */
#main-container {
  width: 50%;
  margin-top: 70px;
}


#map-card {
  background-color: var(--secondary);
  border-radius: 0px 0px 15px 15px;
}

#map-container {
  border-radius: 0px 0px 15px 15px;
}
h2{
    background: #D4A71B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 15px;
}
#breweries-list {
  height: 480px;
  overflow: auto;
  padding-left: 15px;
}

.brew-name {
  font-weight: bolder;
}

.brew-website {
  text-decoration: underline;
}
