/*
FFC733 - BRIGHT YELLOW - NAV BAR
D4A71B - DARK YELLOW - TITLE BACKGROUND
DACDA9 - NEUTRAL BEIGE - HEADER BACKGROUND
ECE6D3 - LIGHT YELLOW
FDFFFC - WHITISH YELLOW
071400 - DARK JUNGLE GREEN - SEARCH FIELD BACKGROUND

Materialize CSS v 1.0.0
*/

:root {
  --primary: #ffc733;
  --secondary: #d4a71b;
  --content-background: #ece6d3;
  --content-containers: #dacda9;
  --body-background: #fdfffc;
}

body {
  background-color: var(--body-background);
}

#search {
    background-color: #202220d2;
}

#search, select, textarea {
    color: white;
  }

#nav-wrapper,
#logoImg {
  height: 64px;
  padding-left: 1%;
  padding-right: 0.5%;
}

#nav-wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* shows border of the container elements for each sides content */
/* #main-container {

  margin-top: 70px;
} */

#body-container {
    margin-top: 45px;
}

#map-card {
  background-color: var(--secondary);
  border-radius: 0px 0px 15px 15px;
}

#map-container {
  border-radius: 0px 0px 15px 15px;
  margin-top: 30px;
}


h2{
    /* background: #0e0d0dde; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* padding-bottom: 5px; */
    /* color: #FFFFFF; */
}
#breweries-list {
  height: 500px;
  overflow: auto;
  padding-left: 15px;
}

.brew-name {
  font-weight: bolder;
}

.brew-website {
  text-decoration: underline;
}
