/*
FFC733 - BRIGHT YELLOW - NAV BAR
D4A71B - DARK YELLOW - TITLE BACKGROUND
DACDA9 - NEUTRAL BEIGE - HEADER BACKGROUND
ECE6D3 - LIGHT YELLOW
FDFFFC - WHITISH YELLOW
071400 - DARK JUNGLE GREEN - SEARCH FIELD BACKGROUND

Materialize CSS v 1.0.0
*/

#nav-wrapper, #logoImg {
    height: 64px;
    padding-left: 1%;
    padding-right: .5%;
}
